{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  {% blocktrans asvar page_title %}Valencia CF School{% endblocktrans %}
  {% include "partials/page_banner.html" with title=page_title %}

  <main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-main-section tg-haslayout">
      <div class="container">
        <div class="row">
          <div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">

            <div class="col-sm-12 col-xs-12">
              <figure class="tg-postimg tg-postimgdetail">
                <img src="{% static 'images/blog/img-18.jpg' %}" alt="">
              </figure>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 pull-left">
              <div class="tg-postdetail">
                <div class="tg-mathtextbox">
                  <div class="tg-section-heading">
                    <h2>{% blocktrans %}dipisicing elit sed do eiusmod tempor indunt{% endblocktrans %}</h2>
                  </div>
                  <p>{% blocktrans %}Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endblocktrans %}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
