{% load static i18n %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% trans "Soccer Bootstrap Theme" %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="icon" type="image/png" sizes="32x32"
        href="{% static 'img/favicon/cropped-Logo-At-Gilet-32x32.jpg' %}">

    <link rel="icon" type="image/png" sizes="180x180"
        href="{% static 'img/favicon/cropped-Logo-At-Gilet-180x180.jpg' %}">

    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'img/favicon/cropped-Logo-At-Gilet-192x192.jpg' %}">

    <link rel="icon" type="image/png" sizes="270x270"
        href="{% static 'img/favicon/cropped-Logo-At-Gilet-270x270.jpg' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/customScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>

    {% block extra_head %}{% endblock %}
</head>
<body>

<div id="tg-wrapper" class="tg-wrapper tg-haslayout">

    <!--************************************
            Mobile Menu Start
    *************************************-->
        <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
            <span id="tg-close" class="tg-close fa fa-close"></span>
            <div class="tg-colhalf">
                <ul>
                    {% if menu_mobile_main_left %}
                        {% for item in menu_mobile_main_left.root_items %}
                            {% with has_children=item.has_children %}
                            <li class="{% if has_children %}menu-item-has-children{% endif %}">
                                <a href="{{ item.get_url }}">{{ item.title }}</a>
                                {% if has_children %}
                                    <ul class="tg-dropdown-menu">
                                        {% for child in item.children.all %}
                                            {% if child.is_active %}
                                                <li><a href="{{ child.get_url }}">{{ child.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div class="tg-colhalf">
                <ul>
                    {% if menu_mobile_main_right %}
                        {% for item in menu_mobile_main_right.root_items %}
                            {% with has_children=item.has_children %}
                            <li class="{% if has_children %}menu-item-has-children{% endif %}">
                                <a href="{{ item.get_url }}">
                                    {% if item.icon_class %}<i class="{{ item.icon_class }}"></i>{% endif %}
                                    {{ item.title }}
                                </a>
                                {% if has_children %}
                                    <ul class="tg-dropdown-menu">
                                        {% for child in item.children.all %}
                                            {% if child.is_active %}
                                                <li><a href="{{ child.get_url }}">{{ child.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

    <!--************************************
            Mobile Menu End
    *************************************-->

    <!--************************************
            Header Start
    *************************************-->
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="tg-topbar tg-haslayout">
                        <nav id="tg-topaddnav" class="tg-topaddnav">
                            <div class="navbar-header">
                                <button type="button"
                                        class="navbar-toggle collapsed"
                                        data-toggle="collapse"
                                        data-target="#tg-addnavigationm-mobile">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                                <div id="tg-addnavigationm-mobile"
                                    class="tg-addnavigationm-mobile collapse navbar-collapse">
                                    <div class="tg-colhalf pull-right">
                                        <nav class="tg-addnav">
                                            <ul>
                                                {% if menu_header_top_auth %}
                                                    {% for item in menu_header_top_auth.root_items %}
                                                        <li class="{{ item.css_class }}">
                                                            <a href="{{ item.get_url }}"
                                                            {% if item.open_in_new_tab %}target="_blank"{% endif %}
                                                            {{ item.html_attributes|safe }}>
                                                                {% if item.icon_class %}
                                                                    <i class="{{ item.icon_class }}"></i>
                                                                {% endif %}
                                                                {{ item.title }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="tg-colhalf">
                                        <ul class="tg-socialicons">
                                            {% if menu_header_top_social %}
                                                {% for item in menu_header_top_social.root_items %}
                                                    <li>
                                                        <a href="{{ item.get_url }}"
                                                        {% if item.open_in_new_tab %}target="_blank"{% endif %}>
                                                            {% if item.icon_class %}
                                                                <i class="{{ item.icon_class }}"></i>
                                                            {% endif %}
                                                            {% if item.title %}{{ item.title }}{% endif %}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                        </nav>
                    </div>

                    <nav id="tg-nav" class="tg-nav brand-center">
                        <div class="navbar-header">
                            <button type="button"
                                    class="navbar-toggle collapsed"
                                    data-toggle="collapse"
                                    data-target="#tg-navigationm-mobile">
                                <i class="fa fa-bars"></i>
                            </button>
                            <strong class="tg-logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'images/logo.png' %}" alt="logo">
                                </a>
                            </strong>
                        </div>

                        <div id="tg-navigation" class="tg-navigation">
                            <div class="tg-colhalf">
                                <ul>
                                    {% if menu_header_main_left %}
                                        {% for item in menu_header_main_left.root_items %}
                                            {% with has_children=item.has_children %}
                                            <li class="{% if has_children %}menu-item-has-children{% endif %} {{ item.css_class }}">
                                                <a href="{{ item.get_url }}">
                                                    {{ item.title }}
                                                </a>
                                                {% if has_children %}
                                                    <ul class="tg-dropdown-menu">
                                                        {% for child in item.children.all %}
                                                            {% if child.is_active %}
                                                                <li class="{{ child.css_class }}">
                                                                    <a href="{{ child.get_url }}">{{ child.title }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="tg-colhalf">
                                <ul>
                                    {% if menu_header_main_right %}
                                        {% for item in menu_header_main_right.root_items %}
                                            {% with has_children=item.has_children %}
                                            <li class="{% if has_children %}menu-item-has-children{% endif %} {{ item.css_class }}">
                                                <a href="{{ item.get_url }}"
                                                {% if item.open_in_new_tab %}target="_blank"{% endif %}
                                                {{ item.html_attributes|safe }}>
                                                    {% if item.icon_class %}
                                                        <i class="{{ item.icon_class }}"></i>
                                                    {% endif %}
                                                    {{ item.title }}
                                                </a>
                                                {% if has_children %}
                                                    <ul class="tg-dropdown-menu">
                                                        {% for child in item.children.all %}
                                                            {% if child.is_active %}
                                                                <li class="{{ child.css_class }}">
                                                                    <a href="{{ child.get_url }}">{{ child.title }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>  {# конец tg-navigation #}
                    </nav>

                </div>
            </div>
        </div>
    </header>
    <!--************************************
            Content (pages) Start
    *************************************-->
    {% block content %}{% endblock %}
    <!--************************************
            Content (pages) End
    *************************************-->
    <footer id="tg-footer" class="tg-footer tg-haslayout">
        <div class="tg-haslayout tg-footerinfobox">
            <div class="tg-bgboxone"></div>
            <div class="tg-bgboxtwo"></div>
            <div class="tg-footerinfo">
                <div class="container">
                    <div class="row">
                        <!-- Col 1 -->
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div class="tg-posttitle">
                                    <h3>{% trans "Signup newsletter" %}</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Adipisicing elit, sed do eiusmod tempor incidunta utiai labore et dolore magna si aliqua quis.</p>
                                </div>
                                <form class="tg-form-newsletter">
                                    <fieldset>
                                        <div class="form-group">
                                            <input type="email"
                                                   class="form-control"
                                                   name="email"
                                                   placeholder="{% trans 'Email' %}">
                                        </div>
                                        <button class="tg-btn" type="submit">
                                            {% trans "Signup" %}
                                        </button>
                                    </fieldset>
                                </form>
                        <div class="tg-posttitle">
                                    <h3>{% trans "Popular tags" %}</h3>
                                </div>
                                <div class="tg-tags">
                                    {% if menu_footer_tags %}
                                        {% for item in menu_footer_tags.root_items %}
                                            {% if item.is_active %}
                                                <a class="tg-tag"
                                                href="{{ item.get_url }}"
                                                {% if item.open_in_new_tab %}target="_blank"{% endif %}>
                                                    {{ item.title }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {# опционально: резервный статический вариант, если меню не создано #}
                                        <a class="tg-tag" href="#">{% trans "fashion" %}</a>
                                        <a class="tg-tag" href="#">{% trans "travel" %}</a>
                                        <a class="tg-tag" href="#">{% trans "blog" %}</a>
                                        <a class="tg-tag" href="#">{% trans "sports" %}</a>
                                        <a class="tg-tag" href="#">{% trans "magazine" %}</a>
                                        <a class="tg-tag" href="#">{% trans "ui" %}</a>
                                        <a class="tg-tag" href="#">{% trans "tech" %}</a>
                                        <a class="tg-tag" href="#">{% trans "fun time" %}</a>
                                        <a class="tg-tag" href="#">{% trans "soccer" %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Col 2 -->
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div class="tg-posttitle">
                                    <h3>{% trans "Top products" %}</h3>
                                </div>
                                <div class="tg-toprated">
                                    <ul>
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/thumbnails/img-04.jpg' %}" alt="">
                                                </a>
                                            </figure>
                                            <div class="tg-productcontent">
                                                <h4><a href="#">{% trans "Smooth 3-Stripes Scarf" %}</a></h4>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-price">{% trans "Price:" %} $67</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/thumbnails/img-05.jpg' %}" alt="">
                                                </a>
                                            </figure>
                                            <div class="tg-productcontent">
                                                <h4><a href="#">{% trans "Smooth 3-Stripes Scarf" %}</a></h4>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-price">{% trans "Price:" %} $67</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/thumbnails/img-06.jpg' %}" alt="">
                                                </a>
                                            </figure>
                                            <div class="tg-productcontent">
                                                <h4><a href="#">{% trans "Smooth 3-Stripes Scarf" %}</a></h4>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-price">{% trans "Price:" %} $67</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/thumbnails/img-07.jpg' %}" alt="">
                                                </a>
                                            </figure>
                                            <div class="tg-productcontent">
                                                <h4><a href="#">{% trans "Smooth 3-Stripes Scarf" %}</a></h4>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-price">{% trans "Price:" %} $67</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Col 3 -->
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div class="tg-haslayout">
                                    <strong class="tg-logo">
                                        <a href="#">
                                            <img src="{% static 'images/logo2.png' %}" alt="logo">
                                        </a>
                                    </strong>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sedtado eiusmod dunt ut labore et dolore magna aliqua enim minim veniami quis nostrud.</p>
                                </div>
                                <ul class="tg-contactinfo">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <address>123 Eccles Old Road, New Salford Road London, Uk, M6 7AF</address>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="mailto:info@domain.com">info@domain.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>+44 123 456 788 - 9</span>
                                    </li>
                                </ul>
                                <div class="tg-haslayout">
                                    <a class="tg-btn" href="#">
                                        {% trans "Read more" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div>
            </div>
        </div>

        <div class="tg-footerbar">
            <div class="container">
                <span class="tg-copyright">
                    © 1933 - {% now "Y" %} {% trans "ATGilet development by MISSOFFDESIGN" %}
                </span>
                    <nav class="tg-footernav">
                        <ul>
                            {% if menu_footer_bottom %}
                                {% for item in menu_footer_bottom.root_items %}
                                    {% if item.is_active %}
                                        <li class="{{ item.css_class }}">
                                            <a href="{{ item.get_url }}"
                                            {% if item.open_in_new_tab %}target="_blank"{% endif %}
                                            {{ item.html_attributes|safe }}>
                                                {% if item.icon_class %}
                                                    <i class="{{ item.icon_class }}"></i>
                                                {% endif %}
                                                {{ item.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {# резервное статическое меню, если пока нет записей #}
                                <li><a href="#">{% trans "Main" %}</a></li>
                                <li><a href="#">{% trans "Team" %}</a></li>
                                <li><a href="#">{% trans "Buy Tickets" %}</a></li>
                                <li><a href="#">{% trans "Match Results" %}</a></li>
                                <li><a href="#">{% trans "Upcoming Matches" %}</a></li>
                                <li><a href="#">{% trans "Shop" %}</a></li>
                                <li><a href="#">{% trans "Contact" %}</a></li>
                            {% endif %}
                        </ul>
                    </nav>
            </div>
        </div>
    </footer>
    <!--************************************
            Footer End
    *************************************-->
</div>

<!--************************************
        Search Start
*************************************-->
<div class="tg-searchbox">
    <a id="tg-close-search" class="tg-close-search" href="javascript:void(0)">
        <span class="fa fa-close"></span>
    </a>
    <div class="tg-searcharea">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="tg-form-search">
                        <fieldset>
                            <input type="search"
                                   class="form-control"
                                   placeholder="{% trans 'Keyword' %}">
                            <i class="icon-icon_search2"></i>
                        </fieldset>
                    </form>
                    <p>{% trans "Start typing and press Enter to search" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Search End
*************************************-->

<!--************************************
        Modals Start
*************************************-->
<div class="tg-modalbox modal fade" id="tg-login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="tg-modal-content">
            <div class="tg-formarea">
                <div class="tg-border-heading">
                    <h3>{% trans "Login" %}</h3>
                </div>
                <form class="tg-loginform" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input type="text"
                                   name="userName_email"
                                   class="form-control"
                                   placeholder="{% trans 'Username or email' %}">
                        </div>
                        <div class="form-group">
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="{% trans 'Password' %}">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox"
                                       value="rememberme"
                                       class="checkbox">
                                <em>{% trans "Remember Me" %}</em>
                            </label>
                            <a href="#">
                                <em>{% trans "Forgot Password" %}</em>
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </div>
                        <div class="form-group">
                            <button class="tg-btn tg-btn-lg" type="submit">
                                {% trans "Login Now" %}
                            </button>
                        </div>
                        <div class="tg-description">
                            <p>
                                {% trans "Don't have an account?" %}
                                <a href="#">{% trans "Signup" %}</a>
                            </p>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tg-logintype">
                <div class="tg-border-heading">
                    <h3>{% trans "Login with" %}</h3>
                </div>
                <ul>
                    <li class="tg-facebook"><a href="#">facebook</a></li>
                    <li class="tg-twitter"><a href="#">twitter</a></li>
                    <li class="tg-googleplus"><a href="#">google+</a></li>
                    <li class="tg-linkedin"><a href="#">linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tg-modalbox modal fade" id="tg-register" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="tg-modal-content">
            <div class="tg-formarea">
                <div class="tg-border-heading">
                    <h3>{% trans "Signup" %}</h3>
                </div>
                <form class="tg-loginform" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input type="text"
                                   name="userName"
                                   class="form-control"
                                   placeholder="{% trans 'Username' %}">
                        </div>
                        <div class="form-group">
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   placeholder="{% trans 'Email' %}">
                        </div>
                        <div class="form-group">
                            <div class="tg-note">
                                <i class="fa fa-exclamation-circle"></i>
                                <span>{% trans "We will email you your password." %}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="tg-btn tg-btn-lg" type="submit">
                                {% trans "Signup Now" %}
                            </button>
                        </div>
                        <div class="tg-description">
                            <p>
                                {% trans "Already have an account?" %}
                                <a href="#">{% trans "Login" %}</a>
                            </p>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tg-logintype">
                <div class="tg-border-heading">
                    <h3>{% trans "Signup with" %}</h3>
                </div>
                <ul>
                    <li class="tg-facebook"><a href="#">facebook</a></li>
                    <li class="tg-twitter"><a href="#">twitter</a></li>
                    <li class="tg-googleplus"><a href="#">google+</a></li>
                    <li class="tg-linkedin"><a href="#">linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Modals End
*************************************-->

<script src="{% static 'js/vendor/jquery-library.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/customScrollbar.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/prettyPhoto.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/countTo.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
